@inject NavigationManager navManager
@inherits LayoutComponentBase

<div class="main-header">
    <img src="images/reddit-logo.png"
         alt="Reddit Logo"
         class="logo"
         style="cursor: pointer;"
         @onclick='() => navManager.NavigateTo("/")' />
</div>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
